.paddingLeft{
    padding-left: 25%
  }
.wheel {
  fill: rgb(164, 205, 143);
  font-size: 100px;
  width: 100px;
  height: 100px;
  border-radius: 6em;
  text-align: center;
  animation: rolling 1s linear infinite;
}

#rim {
  fill: rgb(38, 109, 33);
}

#tire {
  fill: rgb(0, 0, 0);
}


@keyframes rolling {
  to {
    transform: rotate(-360deg);
  }
}

.loaderline {
  display: block;
  position: relative;
  height: 32px;
  width: 200px;
  /* background: #fff; */
  border: 2px solid #000000;
  color: rgba(77, 150, 35, 0.114);
  overflow: hidden;
}

.loaderline::before {
  content: '';
  background:rgba(77, 150, 35, 0.741);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  animation: loading_302 10s linear infinite;
}

.loaderline:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  color: rgb(0, 0, 0);
  /* mix-blend-mode: difference; */
  animation: percentage_302 10s linear infinite;
}

@keyframes loading_302 {
  0% {
    width: 0
  }

  100% {
    width: 100%
  }
}

@keyframes percentage_302 {
  0% {
    content: "0%"
  }

  5% {
    content: "5%"
  }

  10% {
    content: "10%"
  }

  20% {
    content: "20%"
  }

  30% {
    content: "30%"
  }

  40% {
    content: "40%"
  }

  50% {
    content: "50%"
  }

  60% {
    content: "60%"
  }

  70% {
    content: "70%"
  }

  80% {
    content: "80%"
  }

  90% {
    content: "90%"
  }

  95% {
    content: "95%"
  }

  96% {
    content: "96%"
  }

  97% {
    content: "97%"
  }

  98% {
    content: "98%"
  }

  99% {
    content: "99%"
  }

  100% {
    content: "100%"
  }
}
  
  